* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

a {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  background-color: royalblue;
}