@import 'mixins';

.header {
  @include flex(flex-start);
  
  width: auto;
  height: 5rem;
  background-color: transparentize(white, 0.25);
}

.header__nav {
  padding: 1rem;
  margin-right: auto;
  &_list {
    @include flex(flex-start);

    &__element {
      padding: 1rem;
      margin: auto;
    }
  }
}